{% extends "layout.html" %}

{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6 text-center">
            <img src="static/img/logot.png" alt="" width="300">
            <h2>Empresa Costructura KSTorres S.R.L.</h2>
            <p>Empresa constructora dedicada a la ejecución de todo tipo de obras civiles que cuenta con maquinaria pesada y variedad de equipos de construcción</p>
            <a href="#" class="btn-get-started">ingresar</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item">
        <img src="static/img/hero-carousel/hero-carousel-1.jpg" alt="">
      </div>

      <div class="carousel-item active">
        <img src="static/img/hero-carousel/hero-carousel-2.jpg" alt="">
      </div>

      <div class="carousel-item">
        <img src="static/img/hero-carousel/hero-carousel-3.jpg" alt="">
      </div>

      <div class="carousel-item">
        <img src="static/img/hero-carousel/hero-carousel-4.jpg" alt="">
      </div>

      <div class="carousel-item">
        <img src="static/img/hero-carousel/hero-carousel-5.jpg" alt="">
      </div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- /Hero Section -->

  <!-- Constructions Section -->
  <section id="constructions" class="constructions section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Construcciones</h2>
      <p>Nuestra premisa es entregar obras de calidad a satisfacción del cliente.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg"><img src="static/img/constructions-1.jpg" alt=""></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Planificación y gestión del proyecto</h4>
                  <p>Una construcción eficiente es una planificación detallada desde el inicio. Desde la asignación de tareas y la anticipación de posibles contingencias. Una correcta gestión del proyecto para cumplir a tiempo y dentro del presupuesto.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg"><img src="static/img/constructions-2.jpg" alt=""></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Coordinación del equipo de trabajo</h4>
                  <p>Un equipo bien capacitado y coordinado es esencial para evitar errores, retrasos y problemas de comunicación en la obra. Los trabajadores deben estar familiarizados con los procedimientos.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg"><img src="static/img/constructions-3.jpg" alt=""></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Uso de materiales y tecnología</h4>
                  <p>Materiales y tecnologías modernas, como herramientas de construcción avanzadas, no solo garantiza un resultado final de calidad, sino que también reduce los tiempos de ejecución y minimiza el riesgo de errores.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg"><img src="static/img/constructions-4.jpg" alt=""></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">Sostenibilidad y eficiencia energética</h4>
                  <p>Incorporar prácticas sostenibles y diseños eficientes desde el inicio puede optimizar el consumo de recursos, como agua y energía, durante y después de la construcción.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>

  </section><!-- /Constructions Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimoniales</h2>
      <p>testimonios de nuestros clientes</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
              },
              "1200": {
                "slidesPerView": 2,
                "spaceBetween": 20
              }
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Estoy muy satisfecho con el resultado final. Los acabados y la atención a los detalles superaron mis expectativas. Definitivamente recomendaría sus servicios.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Lo que más me impresionó fue cómo cumplieron con el cronograma pactado. Cada fase del proyecto se realizó a tiempo y sin demoras innecesarias, lo cual es crucial en este tipo de trabajos.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Desde el inicio hasta el final del proyecto, siempre mantuvieron una comunicación clara. Me informaban de cada avance y no hubo sorpresas en los costos.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Aún después de la finalización de la construcción, han estado disponibles para resolver cualquier duda o detalle que surgiera.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Durante el proceso, surgieron algunos cambios en nuestras especificaciones, y la empresa supo adaptarse sin problemas. La flexibilidad con la que trabajan es un gran valor agregado.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Testimonials Section -->
{% endblock %}
